Server.json
[{"id":"246df5bf.8004ea","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"772c3429.b76bfc","type":"tab","label":"Domoticz","disabled":false,"info":""},{"id":"57897ec4.37f15","type":"tab","label":"SenseHAT"},{"id":"3a335096.7908","type":"tab","label":"Stock Prices"},{"id":"82a1d4a1.834618","type":"tab","label":"Lifx Lights","disabled":false,"info":""},{"id":"b0c26b77.f1d958","type":"tab","label":"Garage Door","disabled":false,"info":""},{"id":"9d57b260.1b6ee","type":"tab","label":"FlightAware"},{"id":"214c4b11.f3bfb4","type":"tab","label":"CamPi"},{"id":"3221583d.7cfdc8","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"fcfd505c.0baac","type":"tab","label":"Lewisville Lake","disabled":false,"info":""},{"id":"5fecc97a.75be88","type":"tab","label":"Smartthings","disabled":false,"info":""},{"id":"65f47937.e78208","type":"tab","label":"Misc Stuff","disabled":false,"info":""},{"id":"7073522f.c7aacc","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"9915ac5.f96b75","type":"ui_group","z":"","name":"Outdoor","tab":"96f6bb07.20a578","order":5,"disp":true,"width":"6","collapse":false},{"id":"96f6bb07.20a578","type":"ui_tab","z":"","name":"Greg's House","icon":"dashboard","order":1},{"id":"ab02504e.5aabc","type":"mqtt-broker","z":"","name":"Snoop433","broker":"192.168.1.137","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4a8b6981.6adef8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Greg's House","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"21df0b68.337c74","type":"ui_group","z":"","name":"Upstairs","tab":"96f6bb07.20a578","order":4,"disp":true,"width":"6"},{"id":"27f84b88.8f4ed4","type":"ui_group","z":"","name":"Connections","tab":"96f6bb07.20a578","order":1,"disp":true,"width":"6"},{"id":"f6db3df.66f81c","type":"ui_group","z":"","name":"IBM Stock","tab":"37898252.e98cee","order":4,"disp":true,"width":"6","collapse":true},{"id":"a0bb3573.bcac98","type":"ui_group","z":"","name":"Garage","tab":"96f6bb07.20a578","order":2,"disp":true,"width":"6","collapse":true},{"id":"4883a61f.f43a58","type":"ui_group","z":"","name":"FlightAware","tab":"6d6c29ea.428f08","order":2,"disp":true,"width":"12","collapse":false},{"id":"6d6c29ea.428f08","type":"ui_tab","z":"","name":"Photos and Remotes","icon":"dashboard","order":2},{"id":"e96b34a8.cbee58","type":"ui_group","z":"","name":"Front Window","tab":"6d6c29ea.428f08","order":1,"disp":true,"width":"12","collapse":false},{"id":"9bf54798.f83e78","type":"ui_group","z":"","name":"Lewisville Lake (30m Updates)","tab":"37898252.e98cee","order":3,"disp":true,"width":"12","collapse":false},{"id":"37898252.e98cee","type":"ui_tab","z":"","name":"Lake and Stock Info","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7a05111f.a209f","type":"ui_group","z":"","name":"Office","tab":"96f6bb07.20a578","order":3,"disp":true,"width":"6","collapse":true},{"id":"a6d47ab0.34bf58","type":"ui_group","z":"","name":"SmartThings","tab":"96f6bb07.20a578","order":6,"disp":true,"width":"6","collapse":false},{"id":"aebfbb12.587188","type":"inject","z":"246df5bf.8004ea","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["469082c8.9cb69c"]]},{"id":"3a396ecb.154e72","type":"change","z":"246df5bf.8004ea","name":"Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["c110d59.257f128"]]},{"id":"469082c8.9cb69c","type":"switch","z":"246df5bf.8004ea","name":"Detect code","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":325,"y":233,"wires":[["4241bdd9.9cd724"],["361ec1bb.7e49de"],["3a396ecb.154e72"],["d3907778.e9c778"]]},{"id":"361ec1bb.7e49de","type":"change","z":"246df5bf.8004ea","name":"White","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[["3640608b.f32bf"]]},{"id":"4241bdd9.9cd724","type":"change","z":"246df5bf.8004ea","name":"Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":180,"wires":[["5b28bb91.e6fca4"]]},{"id":"d3907778.e9c778","type":"debug","z":"246df5bf.8004ea","name":"Fault","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":490,"y":320,"wires":[]},{"id":"e7a8a8d3.76fd88","type":"inject","z":"246df5bf.8004ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["911a4e69.b3ccd"]]},{"id":"9e671823.22cd08","type":"comment","z":"246df5bf.8004ea","name":"Init dotstar and globals","info":"Requires you to install two Node.js modules and reference them in the settings.js file\n\npi: npm install dotstar\npi: npm install pi-spi\n\n\nfunctionGlobalContext: {\n  SPI:require('pi-spi'),\n  dotstar:require('dotstar'),\n  ....\n},","x":340,"y":100,"wires":[]},{"id":"911a4e69.b3ccd","type":"function","z":"246df5bf.8004ea","name":"init  LED","func":"//Can'd do imports - goes in the Node-RED config\n//import * as dotstar from './dotstar';\n//const SPI = require('pi-spi');\nconst SPI = global.get('SPI');\nconst dotstar = global.get('dotstar');\n\n// set up comms to the strip\n// speed value seems to provide best results for\n//   144 LED strip. Change to suit yours\nspi = SPI.initialize('/dev/spidev0.0');\nspi.clockSpeed(2000000);\n\nconst ledStripLength = 144;\nconst ledStrip = new dotstar.Dotstar(spi, {\n  length: ledStripLength\n});\n\nglobal.set('ledStrip',ledStrip);\nreturn ledStrip;","outputs":1,"noerr":0,"x":300,"y":60,"wires":[[]]},{"id":"5b28bb91.e6fca4","type":"function","z":"246df5bf.8004ea","name":"Set LED Strip all Green","func":"const ledStrip = global.get('ledStrip');\n\nledStrip.clear();\nledStrip.sync();\n\nledStrip.all(0, 255, 0);\nledStrip.sync();\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[[]]},{"id":"3640608b.f32bf","type":"function","z":"246df5bf.8004ea","name":"Chase 1 LED ","func":"const ledStrip = global.get('ledStrip');\n\nledStrip.clear();\nledStrip.sync();\n\nfor (i=0; i<=143; i++) {\n  ledStrip.set(i, 255, 255, 255);\n\n  if (i !== 0) {\n    ledStrip.set(i-1, 0, 0, 0);\n  }\n  \n  ledStrip.sync();\n}\n\nledStrip.off();\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":220,"wires":[[]]},{"id":"e0abd0a9.e3d82","type":"inject","z":"246df5bf.8004ea","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["469082c8.9cb69c"]]},{"id":"c110d59.257f128","type":"function","z":"246df5bf.8004ea","name":"Set LED Strip all Red","func":"const ledStrip = global.get('ledStrip');\n\nledStrip.clear();\nledStrip.sync();\n\nledStrip.all(255, 0, 0);\nledStrip.sync();\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":260,"wires":[[]]},{"id":"14500b6c.2c42c5","type":"inject","z":"246df5bf.8004ea","name":"","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["469082c8.9cb69c"]]},{"id":"890083c1.357cb","type":"inject","z":"246df5bf.8004ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":440,"wires":[["b491fb14.636928"]]},{"id":"b491fb14.636928","type":"function","z":"246df5bf.8004ea","name":"Clear Strip","func":"const ledStrip = global.get('ledStrip');\n\nledStrip.clear();\nledStrip.sync();\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":440,"wires":[[]]},{"id":"b104d547.d07188","type":"debug","z":"772c3429.b76bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":250,"y":60,"wires":[]},{"id":"e5fe71a1.aac65","type":"switch","z":"772c3429.b76bfc","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"AcuriteV2","vt":"str"},{"t":"eq","v":"Cresta","vt":"str"},{"t":"eq","v":"AcuriteV2a","vt":"str"},{"t":"eq","v":"CPU_Usage","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":250,"y":340,"wires":[["28ff9673.42121a","f8eb6d4c.127d1","8c3d40b8.c76a2"],["d2a8b74d.2a9928"],["f27fcec4.2a054"],["934f5f9c.21bec"],[]]},{"id":"f372f14f.1d8ce","type":"ui_gauge","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":2,"width":"3","height":"3","gtype":"gage","title":"Ouside Above Garage","label":"degF","format":"{{value}}","min":"-20","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680,"y":180,"wires":[]},{"id":"8e3dad31.d40f9","type":"ui_chart","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":3,"width":"3","height":"3","label":"Temperature History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":680,"y":220,"wires":[[],[]]},{"id":"3ecaf087.cc5a","type":"ui_gauge","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":4,"width":"3","height":"3","gtype":"gage","title":"Relative Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffff80","#00ff00","#ca3838"],"seg1":"30","seg2":"55","x":670,"y":260,"wires":[]},{"id":"7e93df9d.4b20d","type":"ui_chart","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":5,"width":"3","height":"3","label":"Relative Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":670,"y":300,"wires":[[],[]]},{"id":"2030b6c1.b3431a","type":"ui_gauge","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":6,"width":"3","height":"3","gtype":"gage","title":"Neighbor's","label":"degF","format":"{{value}}","min":"-20","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":420,"wires":[]},{"id":"5d98b207.1a4f4c","type":"ui_chart","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":7,"width":"3","height":"3","label":"Neighbor's History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":670,"y":460,"wires":[[],[]]},{"id":"112e60d9.fb874f","type":"ui_gauge","z":"772c3429.b76bfc","name":"","group":"27f84b88.8f4ed4","order":6,"width":"3","height":"3","gtype":"gage","title":"MQTT Server CPU","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":660,"wires":[]},{"id":"67db7657.732a28","type":"ui_chart","z":"772c3429.b76bfc","name":"","group":"27f84b88.8f4ed4","order":7,"width":"3","height":"3","label":"MQTT Server CPU History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":700,"wires":[["4fc92a09.5d57a4"]]},{"id":"76116002.528a7","type":"ui_gauge","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":10,"width":"3","height":"3","gtype":"gage","title":"My Sensor Battery","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":670,"y":140,"wires":[]},{"id":"28ff9673.42121a","type":"change","z":"772c3429.b76bfc","name":"Manage Battery","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":140,"wires":[["76116002.528a7"]]},{"id":"f8eb6d4c.127d1","type":"change","z":"772c3429.b76bfc","name":"Manage Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(($number($[0].payload.svalue1) * 1.8 ) + 32, 1)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[["f372f14f.1d8ce","8e3dad31.d40f9"]]},{"id":"8c3d40b8.c76a2","type":"change","z":"772c3429.b76bfc","name":"Manage Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.svalue2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":448.01953125,"y":225.00390625,"wires":[["3ecaf087.cc5a","7e93df9d.4b20d"]]},{"id":"d2a8b74d.2a9928","type":"change","z":"772c3429.b76bfc","name":"Manage Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(($number($[0].payload.svalue1) * 1.8 ) + 32, 1)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[["2030b6c1.b3431a","5d98b207.1a4f4c"]]},{"id":"934f5f9c.21bec","type":"change","z":"772c3429.b76bfc","name":"Manage Pi","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.svalue1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":680,"wires":[["112e60d9.fb874f","67db7657.732a28"]]},{"id":"476e040d.cc2a0c","type":"ui_template","z":"772c3429.b76bfc","group":"9915ac5.f96b75","name":"How I did it","order":1,"width":0,"height":0,"format":"<p>I have implemented a snooping device driven from a Raspberry Pi\nthat has a 433Mhz RFLink radio <a href=https://www.nodo-shop.nl/nl/21-rflink-gateway>from Nodo Shop</a> attached. This picks up multiple cheap\nweather sensors that are in range of my house. See <a href=http://www.rflink.nl/blog2/easyha>here </a>for \ndetails on how to build your own. </p>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":650,"y":80,"wires":[[]]},{"id":"2da19ff3.d3bb2","type":"ui_gauge","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":8,"width":"3","height":"3","gtype":"gage","title":"Another Neighbor's","label":"degF","format":"{{value}}","min":"-20","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":540,"wires":[]},{"id":"bdd05bae.821a18","type":"ui_chart","z":"772c3429.b76bfc","name":"","group":"9915ac5.f96b75","order":9,"width":"3","height":"3","label":"Another Neighbor's History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":700,"y":580,"wires":[[],[]]},{"id":"f27fcec4.2a054","type":"change","z":"772c3429.b76bfc","name":"Manage Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(($number($[0].payload.svalue1) * 1.8 ) + 32, 1)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":560,"wires":[["2da19ff3.d3bb2","bdd05bae.821a18"]]},{"id":"72bf0ded.5068e4","type":"mqtt in","z":"772c3429.b76bfc","name":"","topic":"domoticz/out","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":110,"y":180,"wires":[["b104d547.d07188","ea33903a.ed4b8"]]},{"id":"ea33903a.ed4b8","type":"json","z":"772c3429.b76bfc","name":"","property":"payload","action":"","pretty":false,"x":200,"y":260,"wires":[["e5fe71a1.aac65","53867353.5575ec"]]},{"id":"53867353.5575ec","type":"debug","z":"772c3429.b76bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":420,"wires":[]},{"id":"e6310c33.263b2","type":"function","z":"57897ec4.37f15","name":"Get Temperature","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["855b26f7.6edc18"]]},{"id":"6f465d71.d31bc4","type":"debug","z":"57897ec4.37f15","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":80,"wires":[]},{"id":"d3a8cb6a.81d578","type":"function","z":"57897ec4.37f15","name":"Get Humidity","func":"msg.payload = msg.payload.humidity.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["e4616299.82d0a","6d253fbb.54982"]]},{"id":"2d898923.a0f966","type":"function","z":"57897ec4.37f15","name":"Get Pressure","func":"msg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["59ed08af.fe2f38"]]},{"id":"855b26f7.6edc18","type":"function","z":"57897ec4.37f15","name":"TempC to TempF","func":"var tempc = msg.payload;\ntempf = tempc * 1.8 + 32.0;\ntempf = Math.round(tempf * 10) / 10;\nglobal.set(\"tempF\",tempf);\n\nmsg.payload=tempf\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["641b4c3a.24f704","ca853add.1d3b58"]]},{"id":"e4616299.82d0a","type":"ui_gauge","z":"57897ec4.37f15","name":"","group":"21df0b68.337c74","order":4,"width":"3","height":"3","gtype":"gage","title":"Relative Humidity","label":"%RH","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#00ff00","#0080ff"],"seg1":"30","seg2":"55","x":804.8095703124999,"y":244.99999999999997,"wires":[]},{"id":"6d253fbb.54982","type":"ui_chart","z":"57897ec4.37f15","name":"","group":"21df0b68.337c74","order":3,"width":"3","height":"3","label":"SenseHAT Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"No data","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":836.2381417410713,"y":299.99999999999994,"wires":[[],[]]},{"id":"16ac4b51.af82f5","type":"ui_gauge","z":"57897ec4.37f15","name":"","group":"21df0b68.337c74","order":6,"width":"3","height":"3","gtype":"gage","title":"Barometric Pressure","label":"inHg","format":"{{value}}","min":"29.1","max":"30.8","colors":["#ff0000","#ffff80","#00ff00"],"seg1":"29.5","seg2":"30","x":835.8095703125,"y":354,"wires":[]},{"id":"b25ac393.f4bab","type":"ui_chart","z":"57897ec4.37f15","name":"Barometer","group":"21df0b68.337c74","order":5,"width":"3","height":"3","label":"SenseHAT Barometer","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":849.0952758789062,"y":406.8571472167969,"wires":[[],[]]},{"id":"ca853add.1d3b58","type":"ui_gauge","z":"57897ec4.37f15","name":"TempF","group":"21df0b68.337c74","order":2,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"DegF","format":"{{value}}","min":0,"max":"120","colors":["#00ffff","#00ff00","#ff8040"],"seg1":"","seg2":"","x":1040.5238560267856,"y":247.85714285714283,"wires":[]},{"id":"641b4c3a.24f704","type":"ui_chart","z":"57897ec4.37f15","name":"","group":"21df0b68.337c74","order":1,"width":"3","height":"3","label":"SenseHAT Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":1073.3809814453125,"y":167.42857360839844,"wires":[[],[]]},{"id":"59ed08af.fe2f38","type":"function","z":"57897ec4.37f15","name":"mBar to inHg","func":"msg.payload = 0.02952998751 * msg.payload;\nmsg.payload = Number((msg.payload).toFixed(2));\n// Add 0.5 because it seems to be off\nmsg.payload = 0.5 + Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":515.75,"y":364.5,"wires":[["16ac4b51.af82f5","b25ac393.f4bab"]]},{"id":"9dc18007.03025","type":"inject","z":"57897ec4.37f15","name":"up","topic":"","payload":"up","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":560,"wires":[["eaa30ab.7873df8"]]},{"id":"df85a4ff.0bf8a8","type":"inject","z":"57897ec4.37f15","name":"neutral","topic":"0","payload":"neutral","payloadType":"str","repeat":"","crontab":"","once":false,"x":167.75,"y":610.5,"wires":[["eaa30ab.7873df8"]]},{"id":"2d78d4df.4c298c","type":"inject","z":"57897ec4.37f15","name":"down","topic":"","payload":"down","payloadType":"str","repeat":"","crontab":"","once":false,"x":176.75,"y":680.5,"wires":[["eaa30ab.7873df8"]]},{"id":"b1b9e886.d809b8","type":"json","z":"57897ec4.37f15","name":"","x":404,"y":610.5,"wires":[["ea507aed.37c178","4429e001.a3508"]]},{"id":"ea507aed.37c178","type":"debug","z":"57897ec4.37f15","name":"","active":false,"console":"false","complete":"false","x":550,"y":513.75,"wires":[]},{"id":"eaa30ab.7873df8","type":"function","z":"57897ec4.37f15","name":"Convert to words","func":"if (msg.payload > 0.50) {\n    msg.payload = {stock: \"up\"};\n} else if (msg.payload < -0.50) {\n    msg.payload =  {stock: \"down\"};\n} else {\n    msg.payload = {stock: \"neutral\"};\n}\n// msg.payload = {stock: msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":337,"y":481.5,"wires":[["b1b9e886.d809b8"]]},{"id":"2b99779f.9b05c8","type":"link in","z":"57897ec4.37f15","name":"StockIn SenseHAT","links":["33278109.40d57e","262e1291.28ae2e"],"x":150,"y":443,"wires":[["eaa30ab.7873df8"]]},{"id":"90fb47d7.9030d8","type":"mqtt in","z":"57897ec4.37f15","name":"","topic":"sensehat/out","qos":"2","datatype":"json","broker":"ab02504e.5aabc","x":130,"y":180,"wires":[["6f465d71.d31bc4","e6310c33.263b2","d3a8cb6a.81d578","2d898923.a0f966"]]},{"id":"4429e001.a3508","type":"mqtt out","z":"57897ec4.37f15","name":"","topic":"sensehat/stock","qos":"","retain":"","broker":"ab02504e.5aabc","x":652.25,"y":651,"wires":[]},{"id":"4125d849.746eb8","type":"inject","z":"3a335096.7908","name":"","topic":"","payload":"IBM","payloadType":"str","repeat":"","crontab":"*/15 9-14 * * 1,2,3,4,5","once":true,"onceDelay":"","x":270,"y":360,"wires":[["20f4eddc.2b73b2"]]},{"id":"b7f16b39.d47998","type":"debug","z":"3a335096.7908","name":"","active":false,"console":"false","complete":"payload","x":1030,"y":280,"wires":[]},{"id":"6ea3d731.7f9a28","type":"function","z":"3a335096.7908","name":"get price","func":"msg.payload = msg.payload.latestPrice;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":280,"wires":[["b7f16b39.d47998","dd100587.c31e78","ff4ce2f0.04551"]]},{"id":"c2802e37.e37ce","type":"function","z":"3a335096.7908","name":"get change","func":"var chg = 0.0;\nchg = parseFloat(msg.payload.changePercent) * 100.0;\nmsg.payload = chg.toFixed(2);\nmsg.topic = \"StockIndicator\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":360,"wires":[["dee8c2e5.b7f2c","c2149dbd.36ea3","262e1291.28ae2e","73348b20.acea54","19004a25.51af36"]]},{"id":"dee8c2e5.b7f2c","type":"debug","z":"3a335096.7908","name":"","active":false,"console":"false","complete":"false","x":1050,"y":400,"wires":[]},{"id":"c2149dbd.36ea3","type":"switch","z":"3a335096.7908","name":"Determine range: -1 < 0 > 1","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"-1","vt":"str"},{"t":"gt","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":1080,"y":480,"wires":[["e3f615fe.3093b8","b0f76a1f.a2b958"],["92700367.92c7d","8575e631.d2e2b8"],["2d2eeeba.245292","eb7cadbe.10fa3"]]},{"id":"e3f615fe.3093b8","type":"debug","z":"3a335096.7908","name":"Bad","active":false,"console":"false","complete":"payload","x":1330,"y":520,"wires":[]},{"id":"92700367.92c7d","type":"debug","z":"3a335096.7908","name":"Good","active":false,"console":"false","complete":"true","x":1350,"y":640,"wires":[]},{"id":"2d2eeeba.245292","type":"debug","z":"3a335096.7908","name":"Neutral","active":false,"console":"false","complete":"true","x":1340,"y":720,"wires":[]},{"id":"b0f76a1f.a2b958","type":"link out","z":"3a335096.7908","name":"FlashRed","links":["c878aaef.a88c38"],"x":1275,"y":580,"wires":[]},{"id":"8575e631.d2e2b8","type":"link out","z":"3a335096.7908","name":"FlashGreen","links":["f3c48f90.25013"],"x":1275,"y":680,"wires":[]},{"id":"eb7cadbe.10fa3","type":"link out","z":"3a335096.7908","name":"FlashYellow","links":["76f3ae9b.28385"],"x":1280,"y":780,"wires":[]},{"id":"262e1291.28ae2e","type":"link out","z":"3a335096.7908","name":"Send to SenseHAT","links":["2b99779f.9b05c8"],"x":1014.75,"y":673.25,"wires":[]},{"id":"20f4eddc.2b73b2","type":"http request","z":"3a335096.7908","name":"Get Stock Quote","method":"GET","ret":"obj","url":"https://api.iextrading.com/1.0/stock/ibm/quote","tls":"","x":460,"y":360,"wires":[["3e34f072.9de3c","6ea3d731.7f9a28","f479fab4.c5cc38","c2802e37.e37ce"]]},{"id":"3e34f072.9de3c","type":"debug","z":"3a335096.7908","name":"","active":false,"console":"false","complete":"true","x":592.36669921875,"y":432,"wires":[]},{"id":"dd100587.c31e78","type":"ui_text","z":"3a335096.7908","group":"f6db3df.66f81c","order":1,"width":0,"height":0,"name":"","label":"IBM: IEX Real-Time Price","format":"${{msg.payload}}","layout":"row-spread","x":1070,"y":120,"wires":[]},{"id":"73348b20.acea54","type":"ui_text","z":"3a335096.7908","group":"f6db3df.66f81c","order":2,"width":0,"height":0,"name":"","label":"Change from prev close","format":"{{msg.payload}}%","layout":"row-spread","x":1070,"y":340,"wires":[]},{"id":"f479fab4.c5cc38","type":"ui_text","z":"3a335096.7908","group":"f6db3df.66f81c","order":4,"width":0,"height":0,"name":"","label":"Real Time Stock Prices Provided by ","format":"<a href=https://iextrading.com/developer>IEX</a>","layout":"row-spread","x":677.36669921875,"y":611.5,"wires":[]},{"id":"ff4ce2f0.04551","type":"ui_chart","z":"3a335096.7908","name":"","group":"f6db3df.66f81c","order":5,"width":0,"height":0,"label":"IBM Share Price History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":"14","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":1060.36669921875,"y":172.5,"wires":[["df353276.c41d"],[]]},{"id":"19004a25.51af36","type":"ui_gauge","z":"3a335096.7908","name":"","group":"f6db3df.66f81c","order":6,"width":0,"height":0,"gtype":"gage","title":"Change","label":"Percent","format":"{{value}}","min":"-5","max":"5","colors":["#ff0000","#e6e600","#80ff80"],"seg1":"","seg2":"","x":1281.36669921875,"y":378,"wires":[]},{"id":"b9b68af7.cbcd98","type":"inject","z":"82a1d4a1.834618","name":"List All Lights","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":140,"wires":[["3b9437c2.a003e8"]]},{"id":"3b9437c2.a003e8","type":"function","z":"82a1d4a1.834618","name":"List Lights","func":"msg.method = \"GET\";\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["a5baec30.0c95"]]},{"id":"d33dfea2.6ac71","type":"function","z":"82a1d4a1.834618","name":"PulseLightRed","func":"msg.payload = {\n    \"color\": \"red\",\"persist\": false,\"power_on\": true, \"cycles\": 5000.0, \"from_color\": \"white\"\n};\nmsg.method = \"POST\";\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/effects/pulse\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["a5baec30.0c95","5ba23252.8ab3ac"]]},{"id":"b3a6ccb6.6b3c9","type":"function","z":"82a1d4a1.834618","name":"PowerOnLight","func":"msg.method = \"PUT\";\nmsg.payload = {\"power\": \"on\"};\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/state\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":471.9999990463257,"wires":[["a5baec30.0c95"]]},{"id":"a75bf58f.da93f8","type":"function","z":"82a1d4a1.834618","name":"ToggleLight","func":"msg.method = \"POST\";\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/toggle\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["a5baec30.0c95"]]},{"id":"6f45025.0bd23fc","type":"function","z":"82a1d4a1.834618","name":"Set Auth Token","func":"\nglobal.set(\"AuthToken\", \"Bearer <your token here>\");\n","outputs":1,"noerr":0,"x":380,"y":60,"wires":[["bfe8f282.60585"]]},{"id":"ff9174bc.7d7208","type":"inject","z":"82a1d4a1.834618","name":"InitGlobals","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":140,"y":60,"wires":[["6f45025.0bd23fc"]]},{"id":"59769140.ce1c1","type":"link in","z":"82a1d4a1.834618","name":"FlashRedIn","links":["6a4b3d10.355224"],"x":160,"y":340,"wires":[["d33dfea2.6ac71"]]},{"id":"8fd00a52.dfa988","type":"function","z":"82a1d4a1.834618","name":"PulseLightGreen","func":"msg.payload = {\n    \"color\": \"green\",\"persist\": false,\"power_on\": true, \"cycles\": 5000.0, \"from_color\": \"white\"\n};\nmsg.method = \"POST\";\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/effects/pulse\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["a5baec30.0c95","15b16eb5.3350c1"]]},{"id":"d520dc07.3737e","type":"link in","z":"82a1d4a1.834618","name":"FlashGreenIn","links":["86796c26.7e1e3"],"x":155,"y":380,"wires":[["8fd00a52.dfa988"]]},{"id":"4b45f624.1ed478","type":"function","z":"82a1d4a1.834618","name":"PulseLightYellow","func":"msg.payload = {\n    \"color\": \"yellow\",\"persist\": false,\"power_on\": true, \"cycles\": 5000.0, \"from_color\": \"white\"\n};\nmsg.method = \"POST\";\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/effects/pulse\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["a5baec30.0c95","895e478f.111a78"]]},{"id":"519cbba0.a22074","type":"link in","z":"82a1d4a1.834618","name":"FlashYellowIn","links":["1eff97ee.c69888"],"x":155,"y":420,"wires":[["4b45f624.1ed478"]]},{"id":"9ab13501.363a48","type":"function","z":"82a1d4a1.834618","name":"PowerOnLightRed","func":"msg.method = \"PUT\";\nmsg.payload = {\"power\": \"on\", \"color\": \"red\"};\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/state\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["a5baec30.0c95","865492a.0bf737"]]},{"id":"4c702d0f.6f1c14","type":"function","z":"82a1d4a1.834618","name":"PowerOnLightYellow","func":"msg.method = \"PUT\";\nmsg.payload = {\"power\": \"on\", \"color\": \"yellow\"};\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/state\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":680,"wires":[["a5baec30.0c95","195cbb31.b68d55"]]},{"id":"f3b05a4a.eea208","type":"function","z":"82a1d4a1.834618","name":"PowerOnLightGreen","func":"msg.method = \"PUT\";\nmsg.payload = {\"power\": \"on\", \"color\": \"green\"};\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/state\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":740,"wires":[["a5baec30.0c95","2ad89678.98014a"]]},{"id":"c878aaef.a88c38","type":"link in","z":"82a1d4a1.834618","name":"RedOnIn","links":["8e7f1d48.08016","92115cf4.3fe39","ac852ff1.18eba","ead4fed2.6097e","b0f76a1f.a2b958"],"x":115,"y":680,"wires":[["9ab13501.363a48"]]},{"id":"f3c48f90.25013","type":"link in","z":"82a1d4a1.834618","name":"GreenOnIn","links":["a5fab9c7.b73bb","d9df922b.64ec5","a3ee5a6e.247a78","8575e631.d2e2b8"],"x":120,"y":760,"wires":[["f3b05a4a.eea208"]]},{"id":"76f3ae9b.28385","type":"link in","z":"82a1d4a1.834618","name":"YellowOnIn","links":["5c7d8ec5.f267c","9cae081a.735428","d6adcc36.3007b","eb7cadbe.10fa3"],"x":115,"y":720,"wires":[["4c702d0f.6f1c14"]]},{"id":"49ff019a.46c52","type":"function","z":"82a1d4a1.834618","name":"PowerOffLight","func":"msg.method = \"PUT\";\nmsg.payload = {\"power\": \"off\"};\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/state\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":800,"wires":[["a5baec30.0c95"]]},{"id":"810d017c.8256d","type":"link in","z":"82a1d4a1.834618","name":"PowerOffIn","links":["756fd02b.8ab8d8","8f6aa43c.76dd88"],"x":140,"y":820,"wires":[["49ff019a.46c52"]]},{"id":"e20cb856.1bad18","type":"comment","z":"82a1d4a1.834618","name":"https://api.developer.lifx.com/docs/introduction","info":"","x":783.5000305175781,"y":72.33333587646484,"wires":[]},{"id":"18af16f8.448da9","type":"function","z":"82a1d4a1.834618","name":"BreatheLightRed","func":"msg.payload = {\n    \"color\": \"red\", \"from_color\": \"white\",\"persist\": false,\"power_on\": true,\"cycles\": 5000.0,\"peak\": 0.5,\"period\": 4.0\n};\nmsg.method = \"POST\";\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/effects/breathe\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":920,"wires":[["a5baec30.0c95","508a3ac7.9c47f4","299abb1b.a039e4"]]},{"id":"84cdcefd.576c4","type":"link in","z":"82a1d4a1.834618","name":"BreatheRedIn","links":["b44c1a1a.9e3248","6d1db397.8f36dc"],"x":195,"y":920,"wires":[["18af16f8.448da9"]]},{"id":"b6d1ea55.b026a8","type":"function","z":"82a1d4a1.834618","name":"BreatheLightYellow","func":"msg.payload = {\n    \"color\": \"yellow\", \"from_color\": \"white\",\"persist\": false,\"power_on\": true,\"cycles\": 5000.0,\"peak\": 0.5,\"period\": 4.0\n};\nmsg.method = \"POST\";\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/effects/breathe\";\nreturn msg;","outputs":1,"noerr":0,"x":369.6666259765625,"y":968.6666870117188,"wires":[["a5baec30.0c95","331410f6.42913"]]},{"id":"b3dd4303.cf1fd","type":"link in","z":"82a1d4a1.834618","name":"BreatheyellowIn","links":["55afcc3.69bce34"],"x":199.5,"y":971.6666870117188,"wires":[["b6d1ea55.b026a8"]]},{"id":"20443e4b.70e722","type":"function","z":"82a1d4a1.834618","name":"PowerOnLightBlue","func":"msg.method = \"PUT\";\nmsg.payload = {\"power\": \"on\", \"color\": \"blue\"};\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/state\";\nreturn msg;","outputs":1,"noerr":0,"x":371.5,"y":869.5,"wires":[["a5baec30.0c95","1924dc56.28acd4"]]},{"id":"1d4d3b1e.8ad1e5","type":"link in","z":"82a1d4a1.834618","name":"BlueOn","links":["d1abefe9.b59d98","b0f3c85e.70c438","512b1bd1.4efd74"],"x":111.75,"y":866,"wires":[["20443e4b.70e722"]]},{"id":"e921d3a8.686f2","type":"function","z":"82a1d4a1.834618","name":"PulseLightBlue","func":"msg.payload = {\n    \"color\": \"blue\",\"persist\": false,\"power_on\": true, \"cycles\": 5000.0, \"from_color\": \"white\"\n};\nmsg.method = \"POST\";\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/effects/pulse\";\nreturn msg;","outputs":1,"noerr":0,"x":369.6666564941406,"y":207.66665649414062,"wires":[["a5baec30.0c95","1437fa25.5f5786"]]},{"id":"5b42415f.02658","type":"link in","z":"82a1d4a1.834618","name":"FlashBlue","links":["998d4e8f.6da3a8"],"x":147.5,"y":217.6666488647461,"wires":[["e921d3a8.686f2"]]},{"id":"a5baec30.0c95","type":"http request","z":"82a1d4a1.834618","name":"Send to LIFX","method":"use","ret":"txt","url":"","tls":"","x":950,"y":320,"wires":[["d974647b.61e808"]]},{"id":"bfe8f282.60585","type":"debug","z":"82a1d4a1.834618","name":"","active":true,"console":"false","complete":"false","x":669.75,"y":133.25,"wires":[]},{"id":"27dda07b.f78a","type":"switch","z":"82a1d4a1.834618","name":"Decode which light","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"WeatherIndicator","vt":"str"},{"t":"eq","v":"StockIndicator","vt":"str"},{"t":"eq","v":"Weather2","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":990,"y":220,"wires":[[],["938c7d5b.0176"],[],[]]},{"id":"938c7d5b.0176","type":"ui_text","z":"82a1d4a1.834618","group":"f6db3df.66f81c","order":3,"width":0,"height":0,"name":"","label":"Stock Indicator","format":"{{msg.payload.color}}","layout":"row-left","x":1280,"y":240,"wires":[]},{"id":"6766db2b.9d0eb4","type":"link in","z":"82a1d4a1.834618","name":"DashLightStatus","links":["1437fa25.5f5786","5ba23252.8ab3ac","15b16eb5.3350c1","895e478f.111a78","865492a.0bf737","195cbb31.b68d55","2ad89678.98014a","1924dc56.28acd4","508a3ac7.9c47f4","331410f6.42913","3eae32a0.02db3e","51e799e1.84e848","3964df38.fb7b5"],"x":855,"y":220,"wires":[["27dda07b.f78a"]]},{"id":"1437fa25.5f5786","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":495,"y":180,"wires":[]},{"id":"5ba23252.8ab3ac","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":495,"y":240,"wires":[]},{"id":"15b16eb5.3350c1","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":495,"y":300,"wires":[]},{"id":"895e478f.111a78","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":495,"y":360,"wires":[]},{"id":"865492a.0bf737","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":495,"y":580,"wires":[]},{"id":"195cbb31.b68d55","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":515,"y":640,"wires":[]},{"id":"2ad89678.98014a","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":515,"y":700,"wires":[]},{"id":"1924dc56.28acd4","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":495,"y":820,"wires":[]},{"id":"508a3ac7.9c47f4","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":495,"y":880,"wires":[]},{"id":"331410f6.42913","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":495,"y":940,"wires":[]},{"id":"421ade43.c7708","type":"function","z":"82a1d4a1.834618","name":"BreatheLightBlue","func":"msg.payload = {\n    \"color\": \"blue\", \"from_color\": \"white\",\"persist\": false,\"power_on\": true,\"cycles\": 5000.0,\"peak\": 0.5,\"period\": 4.0\n};\nmsg.method = \"POST\";\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/effects/breathe\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1020,"wires":[["a5baec30.0c95","3eae32a0.02db3e"]]},{"id":"3eae32a0.02db3e","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":495,"y":1000,"wires":[]},{"id":"a610f7b5.a23978","type":"link in","z":"82a1d4a1.834618","name":"BreatheBlue","links":["78cf7e45.a377c"],"x":195,"y":1020,"wires":[["421ade43.c7708"]]},{"id":"15a5e11b.212a9f","type":"inject","z":"82a1d4a1.834618","name":"","topic":"Weather2","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":1120,"wires":[["18af16f8.448da9"]]},{"id":"299abb1b.a039e4","type":"debug","z":"82a1d4a1.834618","name":"","active":false,"console":"false","complete":"false","x":726.1666870117188,"y":924.6666717529297,"wires":[]},{"id":"bd1a184b.f90058","type":"function","z":"82a1d4a1.834618","name":"PulseLightOrange 5x","func":"msg.payload = {\n    \"color\": \"orange\",\"persist\": false,\"power_on\": true, \"cycles\": 5.0, \"from_color\": \"white\"\n};\nmsg.method = \"POST\";\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/effects/pulse\";\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":419,"wires":[["a5baec30.0c95","51e799e1.84e848"]]},{"id":"f2aec2cc.69a92","type":"link in","z":"82a1d4a1.834618","name":"FlashOrangeIn","links":["a2317fee.95fd8"],"x":154,"y":461,"wires":[["bd1a184b.f90058"]]},{"id":"51e799e1.84e848","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":495,"y":396,"wires":[]},{"id":"ea9ad864.81ef88","type":"inject","z":"82a1d4a1.834618","name":"","topic":"WeatherIndicator","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1160,"wires":[["4fe425e9.e28fac"]]},{"id":"4fe425e9.e28fac","type":"function","z":"82a1d4a1.834618","name":"BreatheLightWhite","func":"msg.payload = {\n    \"color\": \"white\", \"from_color\": \"purple\",\"persist\": false,\"power_on\": true,\"cycles\": 5000.0,\"peak\": 0.5,\"period\": 4.0\n};\nmsg.method = \"POST\";\nvar myAuth = global.get(\"AuthToken\");\nmsg.headers = {\n    \"Authorization\": myAuth\n};\nmsg.url = \n    \"https://api.lifx.com/v1/lights/label:\" + msg.topic + \"/effects/breathe\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1080,"wires":[["a5baec30.0c95","3964df38.fb7b5"]]},{"id":"3964df38.fb7b5","type":"link out","z":"82a1d4a1.834618","name":"","links":["6766db2b.9d0eb4"],"x":495,"y":1060,"wires":[]},{"id":"55437448.32283c","type":"link in","z":"82a1d4a1.834618","name":"BreatheWhiteIn","links":["1091a076.64968"],"x":195,"y":1080,"wires":[["4fe425e9.e28fac"]]},{"id":"e4a2259e.3f3508","type":"inject","z":"b0c26b77.f1d958","name":"","topic":"garage/status","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":170,"y":140,"wires":[["8fbb0ee1.256ab"]]},{"id":"3a069715.354458","type":"http request","z":"b0c26b77.f1d958","name":"","method":"POST","ret":"obj","url":"https://myqexternal.myqdevice.com/api/v4/User/Validate","tls":"","x":863,"y":181,"wires":[["dd70458b.f3e9e8"]]},{"id":"e0f8f47c.d75a58","type":"debug","z":"b0c26b77.f1d958","name":"","active":true,"console":"false","complete":"true","x":1190,"y":180,"wires":[]},{"id":"1f19178c.af1a28","type":"function","z":"b0c26b77.f1d958","name":"","func":"\n\nmsg.payload = {\n    \"username\" : \"gregory.w.gorman@gmail.com\",\n    \"password\" : \"NK2hottie\"\n}\n\nmsg.headers = {\n    ContentType : \"application/json\",\n    Accept : \"application/json\",\n    MyQApplicationId : \"Vj8pQggXLhLy0WHahglCD4N1nAkkXQtGYpq2HrHD7H1nvmbT55KqtN6RSF4ILB/i\",\n    Culture : \"en\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":683,"y":181,"wires":[["3a069715.354458"]]},{"id":"8fbb0ee1.256ab","type":"function","z":"b0c26b77.f1d958","name":"","func":"\nif(msg.payload && msg.payload.desired_state) {\n    msg.desired_state = msg.payload.desired_state;\n}\n\n\nmsg.payload = {};\n\nvar myq = global.get(\"myq\");\n\nif(myq && myq.SecurityToken) {\n    msg.payload.myq = myq; \n}\n\n\nreturn msg;\n","outputs":"1","noerr":0,"x":390,"y":180,"wires":[["f2759aa0.763888","72c664bc.1491ec","aa629e55.f7dd7"]]},{"id":"67a93dee.af30a4","type":"debug","z":"b0c26b77.f1d958","name":"","active":false,"console":"false","complete":"true","x":690,"y":100,"wires":[]},{"id":"7f31d92e.c80a88","type":"debug","z":"b0c26b77.f1d958","name":"","active":false,"console":"false","complete":"true","x":630,"y":220,"wires":[]},{"id":"dd70458b.f3e9e8","type":"function","z":"b0c26b77.f1d958","name":"","func":"\nif(msg.statusCode == 200 && msg.payload.SecurityToken) {\n    var myq = {\n        SecurityToken : msg.payload.SecurityToken\n    };\n    \n    global.set(\"myq\", myq);\n    msg.payload.myq = myq;\n    return msg;\n} else {\n    return null;\n}\n\n\n","outputs":1,"noerr":0,"x":1030,"y":180,"wires":[["e0f8f47c.d75a58","aa629e55.f7dd7"]]},{"id":"f2759aa0.763888","type":"switch","z":"b0c26b77.f1d958","name":"","property":"payload.myq","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":523,"y":181,"wires":[["67a93dee.af30a4"],["1f19178c.af1a28","7f31d92e.c80a88"]]},{"id":"72c664bc.1491ec","type":"debug","z":"b0c26b77.f1d958","name":"","active":false,"console":"false","complete":"true","x":490,"y":100,"wires":[]},{"id":"aa629e55.f7dd7","type":"function","z":"b0c26b77.f1d958","name":"","func":"\nvar myq;\n\nif(msg.payload.myq) {\n    myq = msg.payload.myq;\n} else {\n    myq = global.get(\"myq\");\n}\n\nif(!myq) return msg;\n\n\n\n\nmsg.headers = {\n    ContentType : \"application/json\",\n    Accept : \"application/json\",\n    MyQApplicationId : \"Vj8pQggXLhLy0WHahglCD4N1nAkkXQtGYpq2HrHD7H1nvmbT55KqtN6RSF4ILB/i\",\n    Culture : \"en\",\n    SecurityToken : myq.SecurityToken\n}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["cc28b015.c9956"]]},{"id":"bae92cc4.e08b7","type":"http request","z":"b0c26b77.f1d958","name":"","method":"GET","ret":"obj","url":"https://myqexternal.myqdevice.com/api/v4/UserDeviceDetails/Get","tls":"","x":730,"y":300,"wires":[["e525cf32.a8a6e","b3855dee.ffb59"]]},{"id":"c68a3bac.3c7868","type":"function","z":"b0c26b77.f1d958","name":"","func":"\nvar myq = global.get(\"myq\");\n\nmyq.devices = msg.payload.Devices;\nmyq.timestamp = new Date();\n\nglobal.set(\"myq\", myq);\n\nmsg.payload.myq = myq;\n\nvar state = \"unknown\";\nfor(var d in myq.devices) {\n    var device = myq.devices[d];\n    if(device && device.MyQDeviceTypeName && device.MyQDeviceTypeName == \"GarageDoorOpener\" && device.Attributes) {\n        myq.garage = device;\n        for(var a in device.Attributes) {\n            var attribute = device.Attributes[a];\n            if(attribute && attribute.AttributeDisplayName == \"doorstate\") {\n                var state = attribute.Value + \"\";\n                myq.garage.state = \"unknown\";\n                if(state == \"1\") myq.garage.state = \"open\";\n                if(state == \"2\") myq.garage.state = \"closed\";\n                if(state == \"3\") myq.garage.state = \"stopped\";\n                if(state == \"4\") myq.garage.state = \"opening\";\n                if(state == \"5\") myq.garage.state = \"closing\";\n                if(state == \"8\") myq.garage.state = \"moving\";\n                if(state == \"9\") myq.garage.state = \"open\";\n            }\n        }\n    }\n}\nif(msg.headers) delete msg.headers;\nif(msg.statusCode) delete msg.statusCode;\nif(msg.responseUrl) delete msg.responseUrl;\nif(msg.responseCookies) delete msg.responseCookies;\n\n\nmsg.payload = msg.payload.myq;\n\n\nvar last = global.get(\"myq_garage_last_known\")\nmsg.payload.garage.hasChanged = false;\nif(last && last != msg.payload.garage.state) {\n    msg.payload.garage.hasChanged = true;\n}\nglobal.set(\"myq_garage_last_known\", msg.payload.garage.state);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":440,"wires":[["c6bfc1b4.016d7","bb1005b2.aac8f8","5ba885cf.b6f7cc","fd5d053a.b55148","a4478223.d87c8"]]},{"id":"e525cf32.a8a6e","type":"debug","z":"b0c26b77.f1d958","name":"","active":false,"console":"false","complete":"true","x":970,"y":340,"wires":[]},{"id":"e8026797.730358","type":"switch","z":"b0c26b77.f1d958","name":"","property":"payload.error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","outputs":2,"x":710,"y":420,"wires":[["acde8544.457808"],["c68a3bac.3c7868"]]},{"id":"acde8544.457808","type":"function","z":"b0c26b77.f1d958","name":"","func":"\nreturn { _msgid : msg._msgid }\n","outputs":1,"noerr":0,"x":970,"y":280,"wires":[["1f19178c.af1a28"]]},{"id":"b3855dee.ffb59","type":"function","z":"b0c26b77.f1d958","name":"","func":"\n\nif(msg.payload.ErrorMessage && msg.payload.ErrorMessage != \"\") {\n    msg.payload.error = msg.payload.ErrorMessage;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":360,"wires":[["e8026797.730358"]]},{"id":"c6bfc1b4.016d7","type":"debug","z":"b0c26b77.f1d958","name":"","active":false,"console":"false","complete":"true","x":1090,"y":520,"wires":[]},{"id":"d6512947.00ce38","type":"comment","z":"b0c26b77.f1d958","name":"https://github.com/jbnunn/Alexa-MyQGarage/blob/master/myq.py","info":"https://github.com/jbnunn/Alexa-MyQGarage/blob/master/myq.py","x":260,"y":280,"wires":[]},{"id":"b473f149.85b","type":"inject","z":"b0c26b77.f1d958","name":"","topic":"garage/status","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":100,"wires":[["8fbb0ee1.256ab"]]},{"id":"bb1005b2.aac8f8","type":"switch","z":"b0c26b77.f1d958","name":"","property":"payload.garage.hasChanged","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","outputs":2,"x":870,"y":520,"wires":[["d5ad57b5.c79c48","90f81a95.708198"],["fd59cc3.c21db3"]]},{"id":"d5ad57b5.c79c48","type":"debug","z":"b0c26b77.f1d958","name":"","active":false,"console":"false","complete":"true","x":1050,"y":620,"wires":[]},{"id":"fd59cc3.c21db3","type":"debug","z":"b0c26b77.f1d958","name":"","active":false,"console":"false","complete":"true","x":970,"y":660,"wires":[]},{"id":"90f81a95.708198","type":"function","z":"b0c26b77.f1d958","name":"","func":"\nmsg.payload = \"Garage door is \" + msg.payload.garage.state + \" at \" + msg.payload.timestamp;\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":560,"wires":[["54741451.7f19fc"]]},{"id":"dc3ab686.52c408","type":"inject","z":"b0c26b77.f1d958","name":"Close","topic":"garage/control","payload":"{\"desired_state\":\"close\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":460,"wires":[["8fbb0ee1.256ab"]]},{"id":"75f4ce72.f6939","type":"debug","z":"b0c26b77.f1d958","name":"","active":false,"console":"false","complete":"true","x":505,"y":568,"wires":[]},{"id":"26c20d1e.f18012","type":"http request","z":"b0c26b77.f1d958","name":"","method":"PUT","ret":"obj","url":"https://myqexternal.myqdevice.com/api/v4/DeviceAttribute/PutDeviceAttribute","tls":"","x":550,"y":500,"wires":[["a9cdc405.1026e8"]]},{"id":"b835f1d6.4e006","type":"function","z":"b0c26b77.f1d958","name":"","func":"var myq;\n\nif(msg.payload.myq) {\n    myq = msg.payload.myq;\n} else {\n    myq = global.get(\"myq\");\n}\nvar open_close_state = 0; \nif (msg.desired_state && msg.desired_state == \"open\") open_close_state = 1;\n\nmsg.payload = {\n            \"attributeName\": \"desireddoorstate\",\n            \"myQDeviceId\": myq.garage.MyQDeviceId,\n            \"AttributeValue\": open_close_state\n        }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["75f4ce72.f6939","26c20d1e.f18012"]]},{"id":"cc28b015.c9956","type":"switch","z":"b0c26b77.f1d958","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"garage/control","vt":"str"},{"t":"else"}],"checkall":"false","outputs":2,"x":450,"y":380,"wires":[["b835f1d6.4e006"],["bae92cc4.e08b7"]]},{"id":"a9cdc405.1026e8","type":"debug","z":"b0c26b77.f1d958","name":"","active":false,"console":"false","complete":"true","x":710,"y":520,"wires":[]},{"id":"d5d02960.950f28","type":"inject","z":"b0c26b77.f1d958","name":"Open","topic":"garage/control","payload":"{\"desired_state\":\"open\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":500,"wires":[["8fbb0ee1.256ab"]]},{"id":"54741451.7f19fc","type":"debug","z":"b0c26b77.f1d958","name":"","active":false,"console":"false","complete":"true","x":1153.36669921875,"y":678,"wires":[]},{"id":"9f342a3d.817b68","type":"comment","z":"b0c26b77.f1d958","name":"Current live state","info":"","x":940,"y":400,"wires":[]},{"id":"bd73f4ec.a9ea08","type":"comment","z":"b0c26b77.f1d958","name":"Alert if state changed","info":"","x":1230,"y":600,"wires":[]},{"id":"f301242b.f9b988","type":"catch","z":"b0c26b77.f1d958","name":"","scope":null,"x":570,"y":702.5,"wires":[["4f20afcf.fb222"]]},{"id":"4f20afcf.fb222","type":"debug","z":"b0c26b77.f1d958","name":"","active":true,"console":"false","complete":"true","x":740,"y":716.25,"wires":[]},{"id":"5ba885cf.b6f7cc","type":"switch","z":"b0c26b77.f1d958","name":"Is Open?","property":"payload.garage.state","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1093,"y":476,"wires":[["26b7fa6b.b14066","642802e.326ebfc"],[]]},{"id":"95ad9502.b5bd08","type":"link out","z":"b0c26b77.f1d958","name":"Flash Orange","links":["4019f422.27493c"],"x":1750.0000677108765,"y":479.0000066757202,"wires":[]},{"id":"86719a91.636958","type":"inject","z":"b0c26b77.f1d958","name":"","topic":"WeatherIndicator","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1336,"y":544,"wires":[["95ad9502.b5bd08"]]},{"id":"26b7fa6b.b14066","type":"change","z":"b0c26b77.f1d958","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"WeatherIndicator","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1473.0000076293945,"y":391.0000219345093,"wires":[["95ad9502.b5bd08"]]},{"id":"642802e.326ebfc","type":"delay","z":"b0c26b77.f1d958","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1279.6484298706055,"y":481.05861473083496,"wires":[["8bd220ca.2327f"]]},{"id":"8bd220ca.2327f","type":"change","z":"b0c26b77.f1d958","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Weather2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1468.76953125,"y":470.00390625,"wires":[["95ad9502.b5bd08"]]},{"id":"f17a2766.7ce6d8","type":"ui_template","z":"9d57b260.1b6ee","group":"4883a61f.f43a58","name":"Flights Overhead","order":2,"width":"12","height":"10","format":"<h2>Flights over Greg's office!</h2>\n<p>I built an ADS-B radio receiver and feed data to FlightAware.com using a Raspberry Pi and a software defined radio. \nYou can find the instructions <a href=\"https://flightaware.com/adsb/piaware/build\">here</a>. \nMy full site statistics are shown <a href=\"http://flightaware.com/adsb/stats/user/ggorman\">here</a>.</p>\n<iframe width=\"640\" height=\"480\" alt=\"FlightAware Image\" src=\"http://192.168.1.104/dump1090-fa/\">\n<p>Flight Display</p>\n</iframe>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":330,"y":100,"wires":[[]]},{"id":"3c18b4fa.b034ec","type":"ui_button","z":"214c4b11.f3bfb4","name":"","group":"e96b34a8.cbee58","order":1,"width":"6","height":"1","passthru":false,"label":"CamPi Take Picture","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":404.75,"y":167,"wires":[["1db3d173.6914af"]]},{"id":"d60b3490.32cb28","type":"debug","z":"214c4b11.f3bfb4","name":"","active":false,"console":"false","complete":"false","x":501.75,"y":376,"wires":[]},{"id":"dd320152.80251","type":"debug","z":"214c4b11.f3bfb4","name":"","active":false,"console":"false","complete":"true","x":605.36669921875,"y":457.75,"wires":[]},{"id":"455caa9d.85d934","type":"ui_template","z":"214c4b11.f3bfb4","group":"e96b34a8.cbee58","name":"Display Image","order":2,"width":"12","height":"12","format":"<h2>This is what is outside:</h2>\n<p>This is a view from a Raspberry Pi peering out one of my upstairs windows. It is running a Node-RED instance connected to \nIBM Watson IoT. The dashboard button above sends a message to the Pi asking for a picture. The Pi snaps a photo, encodes it and sends it back. \nNode-RED then runs it through IBM Watson Image Recognition to see what's in it, and then formats it for the display. </p>\n<img width=\"320\" height=\"240\" alt=\"Pi Image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":579.75,"y":287.5,"wires":[[]]},{"id":"6f9979f0.7fa288","type":"function","z":"214c4b11.f3bfb4","name":"Get Class and Score","func":"var picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\nvar timestamp= new Date().toISOString();\nvar picCount=global.get(\"PiPicCount\");\npicCount++;\nglobal.set(\"PiPicCount\",picCount);\nmsg.template=\"\"\nmsg.template=msg.template + \"<p><i>Picture number \" + picCount + \" taken at \" + timestamp + \"</i></p>\";\nmsg.template=msg.template + \"<h2>Watson sees this in the image: </h2>\"\nmsg.template=msg.template + \"<table><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n  msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\"\nreturn msg;","outputs":1,"noerr":0,"x":684.36669921875,"y":517,"wires":[["8c0a2f4e.13c85","f7387da.b1cd98"]]},{"id":"8c0a2f4e.13c85","type":"debug","z":"214c4b11.f3bfb4","name":"","active":false,"console":"false","complete":"result","x":903.36669921875,"y":521.75,"wires":[]},{"id":"f7387da.b1cd98","type":"ui_template","z":"214c4b11.f3bfb4","group":"e96b34a8.cbee58","name":"","order":3,"width":"12","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":903.36669921875,"y":431.5,"wires":[["eecd5adb.7a9a88"]]},{"id":"eecd5adb.7a9a88","type":"ui_ui_control","z":"214c4b11.f3bfb4","name":"ui control","x":1052,"y":429.75,"wires":[[]]},{"id":"c6012c4f.b9022","type":"function","z":"214c4b11.f3bfb4","name":"Set Photo Count","func":"\nglobal.set(\"PiPicCount\", 0);\n","outputs":1,"noerr":0,"x":669.75,"y":54.75,"wires":[[]]},{"id":"d59745fa.e0b728","type":"inject","z":"214c4b11.f3bfb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":469.75,"y":54.75,"wires":[["c6012c4f.b9022"]]},{"id":"5275bc84.7543d4","type":"comment","z":"214c4b11.f3bfb4","name":"Init Picture Count","info":"","x":252.11666870117188,"y":60.75,"wires":[]},{"id":"6f19d1d2.87bcc","type":"inject","z":"214c4b11.f3bfb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":374.3666687011719,"y":107.75,"wires":[["1db3d173.6914af"]]},{"id":"e4c6c1b3.709dd","type":"visual-recognition-v3","z":"214c4b11.f3bfb4","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":410,"y":480,"wires":[["dd320152.80251","6f9979f0.7fa288"]]},{"id":"4d03398e.6bd538","type":"base64","z":"214c4b11.f3bfb4","name":"Encode","x":399.75,"y":287.5,"wires":[["455caa9d.85d934"]]},{"id":"1db3d173.6914af","type":"mqtt out","z":"214c4b11.f3bfb4","name":"","topic":"campi/in","qos":"","retain":"","broker":"ab02504e.5aabc","x":660,"y":140,"wires":[]},{"id":"baf1f0e.0346a1","type":"mqtt in","z":"214c4b11.f3bfb4","name":"","topic":"campi/out","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":220,"y":360,"wires":[["4d03398e.6bd538","d60b3490.32cb28","e4c6c1b3.709dd"]]},{"id":"bf240d4.fb514f","type":"mqtt in","z":"3221583d.7cfdc8","name":"","topic":"$SYS/broker/clients/total","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":180,"y":240,"wires":[["906edbbc.0f0d28","df66478f.1db648"]]},{"id":"906edbbc.0f0d28","type":"debug","z":"3221583d.7cfdc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":140,"wires":[]},{"id":"1b61fb72.f5df75","type":"mqtt in","z":"3221583d.7cfdc8","name":"","topic":"$SYS/broker/uptime","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":150,"y":320,"wires":[["7152cb45.c29d84"]]},{"id":"991a4aa8.e4a538","type":"ui_text","z":"3221583d.7cfdc8","group":"27f84b88.8f4ed4","order":3,"width":0,"height":0,"name":"","label":"MQTT Broker Uptime:","format":"{{msg.payload}}","layout":"row-left","x":860,"y":340,"wires":[]},{"id":"ecfc9c25.17c51","type":"mqtt in","z":"3221583d.7cfdc8","name":"","topic":"$SYS/broker/messages/sent","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":180,"y":420,"wires":[["28edf6e9.ef683a","6d91a5cb.3f6a7c"]]},{"id":"28edf6e9.ef683a","type":"debug","z":"3221583d.7cfdc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":420,"wires":[]},{"id":"86084bb4.b66e88","type":"mqtt in","z":"3221583d.7cfdc8","name":"","topic":"$SYS/broker/messages/received","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":190,"y":500,"wires":[["d5c9f281.d0066"]]},{"id":"d5c9f281.d0066","type":"ui_text","z":"3221583d.7cfdc8","group":"27f84b88.8f4ed4","order":4,"width":0,"height":0,"name":"","label":"MQTT Messages Received: ","format":"{{msg.payload}}","layout":"row-left","x":610,"y":520,"wires":[]},{"id":"6d91a5cb.3f6a7c","type":"ui_text","z":"3221583d.7cfdc8","group":"27f84b88.8f4ed4","order":5,"width":0,"height":0,"name":"","label":"MQTT Messages Sent: ","format":"{{msg.payload}}","layout":"row-left","x":610,"y":480,"wires":[]},{"id":"df66478f.1db648","type":"ui_text","z":"3221583d.7cfdc8","group":"27f84b88.8f4ed4","order":2,"width":0,"height":0,"name":"","label":"MQTT Broker Total Connections: ","format":"{{msg.payload}}","layout":"row-left","x":510,"y":260,"wires":[]},{"id":"7701a6f3.e31c88","type":"inject","z":"3221583d.7cfdc8","name":"","topic":"","payload":"86399","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":620,"wires":[["ad1ff0b3.3bb93"]]},{"id":"ad1ff0b3.3bb93","type":"function","z":"3221583d.7cfdc8","name":"[s] to [hh:mm:ss]","func":"// Message from preceeding node is in seconds - should be less than 24 hours (86400 seconds).\nvar time = (new Date(msg.payload * 1000)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\n// Pass on the string to the next node, what ever that may be. (groov Data Store for example).\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":620,"wires":[["1a21ff81.6567c"]]},{"id":"1a21ff81.6567c","type":"debug","z":"3221583d.7cfdc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":620,"wires":[]},{"id":"7152cb45.c29d84","type":"function","z":"3221583d.7cfdc8","name":"[s] to [hh:mm:ss]","func":"// Message from preceeding node is in seconds - should be less than 24 hours (86400 seconds).\nintTime = parseInt(msg.payload);\nvar time = (new Date(intTime * 1000)).toUTCString().match(/(\\d\\d:\\d\\d:\\d\\d)/)[0];\n// Pass on the string to the next node, what ever that may be. (groov Data Store for example).\nmsg.payload = time;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":320,"wires":[["991a4aa8.e4a538","84455f9c.7e5c6"]]},{"id":"84455f9c.7e5c6","type":"debug","z":"3221583d.7cfdc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":300,"wires":[]},{"id":"409501d9.2b89d","type":"http request","z":"fcfd505c.0baac","name":"Lewisville Lake USGS Data","method":"GET","ret":"obj","paytoqs":false,"url":"https://waterservices.usgs.gov/nwis/iv/?format=json&indent=on&sites=08052800&siteStatus=all","tls":"","proxy":"","authType":"basic","x":340,"y":140,"wires":[["9493a44c.a37f78"]]},{"id":"fb1ecbd9.5a08b8","type":"inject","z":"fcfd505c.0baac","name":"Get Lake Info ","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":"15","x":120,"y":160,"wires":[["409501d9.2b89d"]]},{"id":"85529a74.ff7288","type":"split","z":"fcfd505c.0baac","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":140,"wires":[["f847254c.2d3ae8"]]},{"id":"9493a44c.a37f78","type":"change","z":"fcfd505c.0baac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value.timeSeries","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":140,"wires":[["85529a74.ff7288"]]},{"id":"b1a03907.2e6cc8","type":"switch","z":"fcfd505c.0baac","name":"","property":"payload.variable.variableCode[0].value","propertyType":"msg","rules":[{"t":"eq","v":"00035","vt":"str"},{"t":"eq","v":"00036","vt":"str"},{"t":"eq","v":"00045","vt":"str"},{"t":"eq","v":"45592","vt":"str"},{"t":"eq","v":"62614","vt":"str"},{"t":"eq","v":"00060","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":7,"x":290,"y":540,"wires":[["16ca59df.d98886"],["16215989.b80976"],["e563f858.5c70f8"],["4fd83f1a.03334"],["ab65d58d.56ca18"],["14769b93.493534"],["630c8246.196c5c"]],"outputLabels":["Wind Speed, mph","Wind Direction, degrees","Prcipitation, inches","Gate Opening, ft","Surface Elevation, ft","Discharge, CFS","fault"]},{"id":"5a4d9c78.84bd84","type":"link in","z":"fcfd505c.0baac","name":"","links":["f847254c.2d3ae8","df56490b.441838"],"x":95,"y":540,"wires":[["b1a03907.2e6cc8"]]},{"id":"f847254c.2d3ae8","type":"link out","z":"fcfd505c.0baac","name":"","links":["5a4d9c78.84bd84"],"x":855,"y":180,"wires":[]},{"id":"630c8246.196c5c","type":"debug","z":"fcfd505c.0baac","name":"Other value code","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":230,"y":660,"wires":[]},{"id":"9419bd53.dacc7","type":"ui_gauge","z":"fcfd505c.0baac","name":"","group":"9bf54798.f83e78","order":2,"width":"3","height":"3","gtype":"gage","title":"Wind Speed","label":"mph","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":360,"wires":[]},{"id":"16ca59df.d98886","type":"change","z":"fcfd505c.0baac","name":"Get Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values[0].value[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":360,"wires":[["9419bd53.dacc7"]]},{"id":"16215989.b80976","type":"change","z":"fcfd505c.0baac","name":"Get Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values[0].value[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":400,"wires":[["370cd7e5.d5e2e8"]]},{"id":"370cd7e5.d5e2e8","type":"ui_gauge","z":"fcfd505c.0baac","name":"","group":"9bf54798.f83e78","order":3,"width":"3","height":"3","gtype":"compass","title":"Wind Dir","label":"Degrees","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":400,"wires":[]},{"id":"ab65d58d.56ca18","type":"change","z":"fcfd505c.0baac","name":"Get Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values[0].value[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":560,"wires":[["338ffcf0.7e9854","6d5eae43.8566","d9c1f2c2.aed75"]]},{"id":"6d5eae43.8566","type":"ui_gauge","z":"fcfd505c.0baac","name":"","group":"9bf54798.f83e78","order":4,"width":"3","height":"3","gtype":"gage","title":"Lake Level","label":"Feet ASL","format":"{{value}}","min":"481","max":"532","colors":["#fff200","#00ff49","#ca3838"],"seg1":"","seg2":"","x":750,"y":600,"wires":[]},{"id":"338ffcf0.7e9854","type":"ui_chart","z":"fcfd505c.0baac","name":"","group":"9bf54798.f83e78","order":10,"width":"0","height":"0","label":"Lake Level History","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"No Data","dot":true,"ymin":"481","ymax":"532","removeOlder":"4","removeOlderPoints":"10000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":560,"wires":[["e873d5c8.b826d8"]]},{"id":"e563f858.5c70f8","type":"change","z":"fcfd505c.0baac","name":"Get Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values[0].value[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":500,"wires":[["4cf98744.86e1d8"]]},{"id":"4cf98744.86e1d8","type":"ui_chart","z":"fcfd505c.0baac","name":"","group":"9bf54798.f83e78","order":11,"width":0,"height":0,"label":"Rain History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"8","removeOlderPoints":"10000","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":500,"wires":[["e3c70092.cd615"]]},{"id":"d9c1f2c2.aed75","type":"join","z":"fcfd505c.0baac","name":"Buffer two measurements","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":640,"wires":[["dff64e9e.c42fd"]]},{"id":"dff64e9e.c42fd","type":"change","z":"fcfd505c.0baac","name":"Convert to 1|0|-1","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload[1]) - $number(payload[0]) > 0  ? 1 : $number(payload[1]) - $number(payload[0]) < 0 ? -1 :0","tot":"jsonata"},{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":620,"wires":[["841d72b4.1cc95"]]},{"id":"e873d5c8.b826d8","type":"file","z":"fcfd505c.0baac","name":"","filename":"LakeHistoryFile","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":960,"y":560,"wires":[[]]},{"id":"6caa82b9.db448c","type":"inject","z":"fcfd505c.0baac","name":"Trigger History File Load","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":260,"wires":[["241fcbb5.b83ac4","377c8618.ed02fa"]]},{"id":"241fcbb5.b83ac4","type":"file in","z":"fcfd505c.0baac","name":"","filename":"LakeHistoryFile","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":240,"wires":[["e9c5c859.32c4c8"]]},{"id":"e9c5c859.32c4c8","type":"json","z":"fcfd505c.0baac","name":"","property":"payload","action":"","pretty":false,"x":650,"y":240,"wires":[["338ffcf0.7e9854"]]},{"id":"e3c70092.cd615","type":"file","z":"fcfd505c.0baac","name":"","filename":"RainHistoryFile","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":920,"y":500,"wires":[[]]},{"id":"377c8618.ed02fa","type":"file in","z":"fcfd505c.0baac","name":"","filename":"RainHistoryFile","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":280,"wires":[["41456d63.5237c4"]]},{"id":"41456d63.5237c4","type":"json","z":"fcfd505c.0baac","name":"","property":"payload","action":"","pretty":false,"x":650,"y":280,"wires":[["4cf98744.86e1d8"]]},{"id":"df353276.c41d","type":"file","z":"3a335096.7908","name":"","filename":"SharePriceHistory","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1340,"y":180,"wires":[[]]},{"id":"acb14132.f2526","type":"file in","z":"3a335096.7908","name":"","filename":"SharePriceHistory","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":890,"y":60,"wires":[["2f856905.320a56"]]},{"id":"2f856905.320a56","type":"json","z":"3a335096.7908","name":"","property":"payload","action":"","pretty":false,"x":830,"y":140,"wires":[["ff4ce2f0.04551"]]},{"id":"57c5463e.3ca668","type":"inject","z":"3a335096.7908","name":"Trigger History File Load","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":630,"y":60,"wires":[["acb14132.f2526"]]},{"id":"4fd83f1a.03334","type":"change","z":"fcfd505c.0baac","name":"Get Values","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":860,"wires":[["a99c52bc.b8a32"]]},{"id":"8f9b0dc1.0021a","type":"switch","z":"fcfd505c.0baac","name":"Split Gates","property":"payload.method[0].methodDescription","propertyType":"msg","rules":[{"t":"eq","v":"GATE 1","vt":"str"},{"t":"eq","v":"GATE 2","vt":"str"},{"t":"eq","v":"GATE 3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":830,"y":900,"wires":[["d53bb472.dee788"],["76225923.f31768"],["f5199697.893be8"],[]]},{"id":"cec62eea.6be05","type":"ui_gauge","z":"fcfd505c.0baac","name":"","group":"9bf54798.f83e78","order":6,"width":"3","height":"3","gtype":"donut","title":"Gate A Status","label":"Ft","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":880,"wires":[]},{"id":"a99c52bc.b8a32","type":"split","z":"fcfd505c.0baac","name":"Separate Array","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":660,"y":860,"wires":[["27110182.54cbce","8f9b0dc1.0021a"]]},{"id":"27110182.54cbce","type":"debug","z":"fcfd505c.0baac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":820,"wires":[]},{"id":"51d27377.d61b9c","type":"ui_gauge","z":"fcfd505c.0baac","name":"","group":"9bf54798.f83e78","order":7,"width":"3","height":"3","gtype":"donut","title":"Gate B Status","label":"Ft","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":920,"wires":[]},{"id":"1d51b9ff.535a86","type":"ui_gauge","z":"fcfd505c.0baac","name":"","group":"9bf54798.f83e78","order":8,"width":"3","height":"3","gtype":"donut","title":"Gate C Status","label":"Ft","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1160,"y":960,"wires":[]},{"id":"d53bb472.dee788","type":"change","z":"fcfd505c.0baac","name":"Get Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":860,"wires":[["cec62eea.6be05"]]},{"id":"76225923.f31768","type":"change","z":"fcfd505c.0baac","name":"Get Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":900,"wires":[["51d27377.d61b9c"]]},{"id":"f5199697.893be8","type":"change","z":"fcfd505c.0baac","name":"Get Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":940,"wires":[["1d51b9ff.535a86"]]},{"id":"85c74181.1d37d","type":"http request","z":"fcfd505c.0baac","name":"Trinity River USGS Data","method":"GET","ret":"obj","paytoqs":false,"url":"https://waterservices.usgs.gov/nwis/iv/?format=json&sites=08053000&parameterCd=00060,00065&siteStatus=all","tls":"","proxy":"","authType":"basic","x":330,"y":100,"wires":[["9493a44c.a37f78"]]},{"id":"4c11d0a9.bf057","type":"inject","z":"fcfd505c.0baac","name":"Get Flow Info ","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":"5","x":140,"y":40,"wires":[["85c74181.1d37d"]]},{"id":"14769b93.493534","type":"change","z":"fcfd505c.0baac","name":"Get Value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.values[0].value[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":600,"wires":[["b4bea71d.2f2448","327ab0a7.37db8"]]},{"id":"b4bea71d.2f2448","type":"ui_gauge","z":"fcfd505c.0baac","name":"","group":"9bf54798.f83e78","order":9,"width":"3","height":"3","gtype":"donut","title":"Discharge","label":"CFS","format":"{{value}}","min":"300","max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":680,"wires":[]},{"id":"327ab0a7.37db8","type":"debug","z":"fcfd505c.0baac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":720,"wires":[]},{"id":"66123c79.334fb4","type":"mqtt in","z":"5fecc97a.75be88","name":"","topic":"smartthings/+/battery","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":190,"y":160,"wires":[["5546289b.df61d8"]]},{"id":"5546289b.df61d8","type":"debug","z":"5fecc97a.75be88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":340,"y":120,"wires":[]},{"id":"42eb124c.058fac","type":"mqtt in","z":"5fecc97a.75be88","name":"","topic":"smartthings/office motion/motion","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":210,"y":260,"wires":[["ea72340f.b22628","672758d.d22e4a8"]]},{"id":"ea72340f.b22628","type":"debug","z":"5fecc97a.75be88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":200,"wires":[]},{"id":"2760e832.321a78","type":"mqtt in","z":"5fecc97a.75be88","name":"","topic":"smartthings/+/temperature","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":190,"y":360,"wires":[["ed2b55ef.17cc28"]]},{"id":"bf9665c2.530ac8","type":"debug","z":"5fecc97a.75be88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":520,"wires":[]},{"id":"ac60d445.74a478","type":"ui_gauge","z":"5fecc97a.75be88","name":"","group":"a6d47ab0.34bf58","order":2,"width":"3","height":"3","gtype":"gage","title":"Wine Refrigerator","label":"Degrees F","format":"{{value}}","min":"35","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":480,"wires":[]},{"id":"b0870ea4.246b2","type":"ui_gauge","z":"5fecc97a.75be88","name":"","group":"a6d47ab0.34bf58","order":3,"width":"3","height":"3","gtype":"gage","title":"Office","label":"Degrees F","format":"{{value}}","min":"55","max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":400,"wires":[]},{"id":"b938c2de.8decc","type":"ui_gauge","z":"5fecc97a.75be88","name":"","group":"a0bb3573.bcac98","order":2,"width":"3","height":"3","gtype":"gage","title":"Garage Temp","label":"Degrees F","format":"{{value}}","min":"30","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":440,"wires":[]},{"id":"b451806.ea5bf8","type":"ui_gauge","z":"5fecc97a.75be88","name":"","group":"a6d47ab0.34bf58","order":4,"width":"3","height":"3","gtype":"gage","title":"Laundry Room","label":"Degrees F","format":"{{value}}","min":"55","max":"85","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":520,"wires":[]},{"id":"ed2b55ef.17cc28","type":"switch","z":"5fecc97a.75be88","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"smartthings/office motion/temperature","vt":"str"},{"t":"eq","v":"smartthings/Water Heater Leak Sensor/temperature","vt":"str"},{"t":"eq","v":"smartthings/Wine Refrigerator Leak/temperature","vt":"str"},{"t":"eq","v":"smartthings/Washing Machine Water Leak Sensor/temperature","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":470,"y":420,"wires":[["b0870ea4.246b2"],["b938c2de.8decc"],["ac60d445.74a478"],["b451806.ea5bf8"],["bf9665c2.530ac8"]],"outputLabels":["Office Temp","Garage","Wine Fridge",null,""]},{"id":"dc52652f.c7e148","type":"mqtt in","z":"5fecc97a.75be88","name":"","topic":"smartthings/office/+","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":170,"y":580,"wires":[["208a3f52.d0c57","32649cb1.589514"]]},{"id":"208a3f52.d0c57","type":"debug","z":"5fecc97a.75be88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":560,"wires":[]},{"id":"105249eb.6bdcc6","type":"mqtt in","z":"5fecc97a.75be88","name":"","topic":"smartthings/+/water","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":170,"y":720,"wires":[["57f24305.ed063c"]]},{"id":"69210b32.f1f474","type":"debug","z":"5fecc97a.75be88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":800,"wires":[]},{"id":"2b3be098.20d0e","type":"ui_gauge","z":"5fecc97a.75be88","name":"","group":"7a05111f.a209f","order":3,"width":"3","height":"3","gtype":"gage","title":"Watts","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":640,"wires":[]},{"id":"6d733f1b.e9448","type":"ui_gauge","z":"5fecc97a.75be88","name":"","group":"7a05111f.a209f","order":4,"width":"3","height":"3","gtype":"gage","title":"Brightness","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":680,"wires":[]},{"id":"32649cb1.589514","type":"switch","z":"5fecc97a.75be88","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"smartthings/office/switch","vt":"str"},{"t":"eq","v":"smartthings/office/power","vt":"str"},{"t":"eq","v":"smartthings/office/level","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":600,"wires":[["40314052.b3e6b"],["2b3be098.20d0e"],["6d733f1b.e9448"]],"outputLabels":["switch","power","level"]},{"id":"b6c18944.042ad8","type":"mqtt in","z":"5fecc97a.75be88","name":"","topic":"smartthings/System/#","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":180,"y":800,"wires":[["ad6e6fe8.ec93"]]},{"id":"ad6e6fe8.ec93","type":"debug","z":"5fecc97a.75be88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":800,"wires":[]},{"id":"5582f925.c3dd18","type":"ui_template","z":"5fecc97a.75be88","group":"a6d47ab0.34bf58","name":"How I did it","order":1,"width":0,"height":0,"format":"<p>I connected my SmartThings network to Node-RED using <a href=https://github.com/stjohnjohnson/smartthings-mqtt-bridge.>St. John Johnson's MQTT Bridge</a> This also requires I run an MQTT server locally, so I have a Pi running Mosquitto. This Pi also runs Domoticz, grabbing data from 433Mhz devices - see other tab with links about it.</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":710,"y":320,"wires":[[]]},{"id":"dc7421e1.0df3a","type":"ui_template","z":"fcfd505c.0baac","group":"9bf54798.f83e78","name":"How I did it","order":1,"width":0,"height":0,"format":"<p>I used a realtime data source from the <a href=https://waterservices.usgs.gov/rest/IV-Test-Tool.html>USGS</a>. You need to find the Site ID using the <a href=https://waterdata.usgs.gov/nwis/uv?site_no=08052800>USGS Water Information System</a>. The query can return many formats, I chose JSON and then process as I need it.</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":870,"y":300,"wires":[[]]},{"id":"dcde4f0a.6449f","type":"mqtt in","z":"5fecc97a.75be88","name":"","topic":"smartthings/Dining Room/+","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":200,"y":880,"wires":[["cda5d3ad.0221c","48324e65.bad16"]]},{"id":"cda5d3ad.0221c","type":"debug","z":"5fecc97a.75be88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":880,"wires":[]},{"id":"48324e65.bad16","type":"switch","z":"5fecc97a.75be88","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"smartthings/Dining Room/switch","vt":"str"},{"t":"eq","v":"smartthings/Dining Room/level","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":940,"wires":[["504e68d6.d79b48"],["5f47b630.fad458"],[]]},{"id":"5f47b630.fad458","type":"ui_gauge","z":"5fecc97a.75be88","name":"Dining Room Brightness","group":"a6d47ab0.34bf58","order":7,"width":"3","height":"3","gtype":"gage","title":"Brightness","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":960,"wires":[]},{"id":"450edc0c.362fd4","type":"ui_led","z":"5fecc97a.75be88","group":"a6d47ab0.34bf58","order":5,"width":"3","height":"3","label":"Laundry Dry","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"wet","valueType":"str"},{"color":"green","value":"dry","valueType":"str"}],"name":"Laundry Dry","x":690,"y":720,"wires":[]},{"id":"57f24305.ed063c","type":"switch","z":"5fecc97a.75be88","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"smartthings/Washing Machine Water Leak Sensor/water","vt":"str"},{"t":"eq","v":"smartthings/Water Heater Leak Sensor/water","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":740,"wires":[["450edc0c.362fd4"],["6501c584.7c685c"],["69210b32.f1f474"]],"outputLabels":["Washing Machine",null,""]},{"id":"6501c584.7c685c","type":"ui_led","z":"5fecc97a.75be88","group":"a0bb3573.bcac98","order":3,"width":"3","height":"3","label":"Garage Dry","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"wet","valueType":"str"},{"color":"green","value":"dry","valueType":"str"}],"name":"Garage Dry","x":690,"y":760,"wires":[]},{"id":"40314052.b3e6b","type":"ui_led","z":"5fecc97a.75be88","group":"7a05111f.a209f","order":1,"width":"3","height":"3","label":"Power","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"off","valueType":"str"},{"color":"green","value":"on","valueType":"str"}],"name":"Office Power","x":690,"y":600,"wires":[]},{"id":"672758d.d22e4a8","type":"ui_led","z":"5fecc97a.75be88","group":"7a05111f.a209f","order":2,"width":"3","height":"3","label":"Motion","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"inactive","valueType":"str"},{"color":"green","value":"active","valueType":"str"}],"name":"Office Motion","x":500,"y":260,"wires":[]},{"id":"cddfbe25.8cb83","type":"ui_button","z":"fcfd505c.0baac","name":"","group":"9bf54798.f83e78","order":5,"width":"3","height":"3","passthru":false,"label":"{{payload}}","tooltip":"","color":"{{colour}}","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":1390,"y":680,"wires":[[]]},{"id":"9fd97359.71672","type":"change","z":"fcfd505c.0baac","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"material-icons\">trending_up</i> UP","tot":"str"},{"t":"set","p":"colour","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":640,"wires":[["cddfbe25.8cb83"]]},{"id":"841d72b4.1cc95","type":"switch","z":"fcfd505c.0baac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":990,"y":680,"wires":[["9fd97359.71672"],["2766e7bd.1020f8"],["8e8c7edd.6bb71"]]},{"id":"2766e7bd.1020f8","type":"change","z":"fcfd505c.0baac","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"yellow","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"material-icons\">trending_flat</i> UNCH","tot":"str"},{"t":"set","p":"colour","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":680,"wires":[["cddfbe25.8cb83"]]},{"id":"8e8c7edd.6bb71","type":"change","z":"fcfd505c.0baac","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"material-icons\">trending_down</i> DOWN","tot":"str"},{"t":"set","p":"colour","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":720,"wires":[["cddfbe25.8cb83"]]},{"id":"cd395fa4.d23aa","type":"file in","z":"772c3429.b76bfc","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":800,"wires":[["94426a6f.30e348"]]},{"id":"4fc92a09.5d57a4","type":"file","z":"772c3429.b76bfc","name":"","filename":"CPUHistoryFile","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":970,"y":700,"wires":[[]]},{"id":"d28d7f2c.67f6","type":"inject","z":"772c3429.b76bfc","name":"Read History File","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":800,"wires":[["cd395fa4.d23aa"]]},{"id":"94426a6f.30e348","type":"json","z":"772c3429.b76bfc","name":"","property":"payload","action":"","pretty":false,"x":590,"y":800,"wires":[["67db7657.732a28"]]},{"id":"a1414853.cacf28","type":"ui_template","z":"65f47937.e78208","group":"27f84b88.8f4ed4","name":"World Community Grid","order":9,"width":"3","height":"3","format":"<iframe src=\"https://www.worldcommunitygrid.org/getDynamicImage.do?memberName=ggorman&mnOn=true&stat=1&imageNum=3&rankOn=false&projectsOn=false&special=true&link=1&memberId=515118\" frameborder=\"0\" name=\"di\" scrolling=\"no\" width=\"125px\" height=\"176px\"></iframe>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":140,"y":60,"wires":[[]]},{"id":"c81bae9f.5c479","type":"ui_template","z":"65f47937.e78208","group":"27f84b88.8f4ed4","name":"Node-RED Logo","order":8,"width":"0","height":"0","format":"<h3>Powered By Node-Red</h3>\n<p><img height=90 src=\"https://avatars3.githubusercontent.com/u/5375661?s=200&v=4\"></p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":130,"y":120,"wires":[[]]},{"id":"5396d6e9.c693a8","type":"ui_switch","z":"b0c26b77.f1d958","name":"","label":"Door State","tooltip":"","group":"a0bb3573.bcac98","order":1,"width":"3","height":"3","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"open","onvalueType":"str","onicon":"lock_open","oncolor":"red","offvalue":"closed","offvalueType":"str","officon":"lock","offcolor":"green","x":1310,"y":340,"wires":[[]]},{"id":"f210b07.7bba55","type":"cpu","z":"65f47937.e78208","name":"","msgCore":true,"msgOverall":false,"msgArray":false,"msgTemp":false,"x":320,"y":220,"wires":[["a5439e1b.dea93"]]},{"id":"d1e17bc3.e6dc58","type":"inject","z":"65f47937.e78208","name":"CPU Check","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["f210b07.7bba55"]]},{"id":"a5439e1b.dea93","type":"ui_chart","z":"65f47937.e78208","name":"","group":"27f84b88.8f4ed4","order":1,"width":0,"height":0,"label":"House Server CPU","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":220,"wires":[[]]},{"id":"504e68d6.d79b48","type":"ui_led","z":"5fecc97a.75be88","group":"a6d47ab0.34bf58","order":6,"width":"3","height":"3","label":"Dining Room Power","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"off","valueType":"str"},{"color":"green","value":"on","valueType":"str"}],"name":"Dining Room Power","x":580,"y":920,"wires":[]},{"id":"fbfd34d1.2c6498","type":"mqtt in","z":"5fecc97a.75be88","name":"","topic":"smartthings/Master Fan/+","qos":"2","datatype":"auto","broker":"ab02504e.5aabc","x":190,"y":1060,"wires":[["96c4da9f.5ee088","89f15af2.03d678"]]},{"id":"96c4da9f.5ee088","type":"debug","z":"5fecc97a.75be88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":1080,"wires":[]},{"id":"89f15af2.03d678","type":"ui_led","z":"5fecc97a.75be88","group":"a6d47ab0.34bf58","order":8,"width":"3","height":"3","label":"Master BR Fan Light","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"off","valueType":"str"},{"color":"green","value":"on","valueType":"str"}],"name":"Master BR Fan Light","x":460,"y":1120,"wires":[]},{"id":"d974647b.61e808","type":"debug","z":"82a1d4a1.834618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1060,"y":400,"wires":[]},{"id":"fd5d053a.b55148","type":"debug","z":"b0c26b77.f1d958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":280,"wires":[]},{"id":"a4478223.d87c8","type":"change","z":"b0c26b77.f1d958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.garage.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":400,"wires":[["5396d6e9.c693a8"]]},{"id":"f2a9f922.c1ea08","type":"alexa-local","z":"7073522f.c7aacc","devicename":"Stock","inputtrigger":false,"x":90,"y":60,"wires":[["ff524dcf.f800c"]]},{"id":"ff524dcf.f800c","type":"debug","z":"7073522f.c7aacc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":80,"wires":[]},{"id":"d47671c1.7e3ab","type":"alexa-local","z":"7073522f.c7aacc","devicename":"Weather","inputtrigger":false,"x":100,"y":140,"wires":[["6fc6cf73.d3515"]]},{"id":"6fc6cf73.d3515","type":"debug","z":"7073522f.c7aacc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":160,"wires":[]},{"id":"52061dd5.2b7024","type":"inject","z":"fcfd505c.0baac","name":"Get 2nd measurement at startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"30","x":180,"y":200,"wires":[["409501d9.2b89d"]]}]
